nav {
  height: 62px;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}

.home-page,
.about,
.Portfolio,
.contact {
  text-decoration: none;
  background-color: #747474;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
}